{% extends "base.html" %}

{% block css_js %}
<link rel="stylesheet" href="{{url_for('static',filename='css/dashboard.css')}}">
<link rel="preload" href="{{url_for('static',filename='images/weather_station.jpg')}}" as="image"/>
<link rel="preload" href="{{url_for('static',filename='images/home_automation.jpg')}}" as="image"/>
<link rel="preload" href="{{url_for('static',filename='images/load.gif')}}" as="image"/>
<link rel="preload" href="{{url_for('static',filename='css/images2/web_background.jpg')}}" as="image"/>
<link rel="preload" href="{{url_for('static',filename='images/clock.jpg')}}" as="image"/>
<script src="{{url_for('static',filename='js/dashboard.js')}}"> </script>
{% endblock %}

{% block main %}
<h1 class="mb-3" id="id2">My Major Projects</h1>
<div class="row gy-4">
  <div class="col-11 col-sm-6 col-lg-4 mx-auto">
    <div class="dashboard_item weather_station" id="weather_station">
      <h4 id="c_test">Weather Station Application</h4>
      <h5 id="h_phone1"></h5>
      <div class="video-box ratio ratio-16x9 w-100">
        <video playsinline autoplay muted id="vid1" poster="">
          <source id="weather" src="" type="video/mp4">
        </video>
      </div>
      <p id="prompt1"></p>
      <button type="button" id="b1" class="btn btn-sm btn-primary">Click Me</button>
    </div>
  </div>

  <div class="col-11 col-sm-6 col-lg-4 mx-auto">
    <div class="dashboard_item home_automation" id="home_automation">
      <h4 id="h_a">Home Automation System</h4>
      <h5 id="h_phone2"></h5>
      <div class="video-box ratio ratio-16x9 w-100">
        <video playsinline autoplay muted id="vid2" poster="">
          <source id="auto" src="" type="video/mp4">
        </video>
      </div>
      <p id="prompt6"></p>
      <button type="button" id="b6" class="btn btn-sm btn-primary">Click Me</button>
    </div>
  </div>

  <div class="col-11 col-sm-6 col-lg-4 mx-auto">
    <div class="dashboard_item sockets" id="sockets">
      <h4 id="sc">CLI Chat</h4>
      <h5 id="h_phone3"></h5>
      <div class="video-box ratio ratio-16x9 w-100">
        <video playsinline autoplay muted id="vid3" poster="">
          <source id="sock" src="" type="video/mp4">
        </video>
      </div>
      <p id="prompt2"></p>
      <button type="button" id="b2" class="btn btn-sm btn-primary">Click Me</button>
    </div>
  </div>

  <div class="col-11 col-sm-6 col-lg-4 mx-auto">
    <div class="dashboard_item book_keeping" id="book_keeping">
      <h4>Book Keeping Application</h4>
      <h5 id="h_phone4"></h5>
      <div class="video-box ratio ratio-16x9 w-100">
        <video playsinline autoplay muted id="vid4" poster="">
          <source id="book" src="" type="video/mp4">
        </video>
      </div>
      <p id="prompt4"></p>
      <button type="button" id="b4" class="btn btn-sm btn-primary">Click Me</button>
    </div>
  </div>

  <div class="col-11 col-sm-6 col-lg-4 mx-auto">
    <div class="dashboard_item clock_alarm" id="clock_alarm">
      <h4>Clock And Alarm</h4>
      <h5 id="h_phone5"></h5>
      <p id="prompt5"></p>
      <button type="button" id="b5" class="btn btn-sm btn-primary">Click Me</button>
    </div>
  </div>

  <div class="col-11 col-sm-6 col-lg-4 mx-auto">
    <div class="dashboard_item capstone" id="capstone">
      <h4>Capstone</h4>
      <h5 id="h_phone6"></h5>
      <p id="prompt3"></p>
      <button type="button" id="b3" class="btn btn-sm btn-primary">Click Me</button>
    </div>
  </div>
</div>

{% endblock %}