{% extends "base.html" %}

{% block css_js %}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}"> 
<link rel="preload" href="{{url_for('static',filename='css/images2/web_background.jpg')}}" as="image"/>
<script src="{{url_for('static',filename='js/home.js')}}"></script>
{% endblock %}

{% block main %}
<div class="py-4 text-center">
  <h1 class="display-5 fw-semibold">Welcome to RBN Marketing Solutions</h1>
  <p class="lead mb-0">Where creative strategy meets visual impact.</p>
  <p class="lead mb-0">Explore our portfolio to see how we transform ideas into content that connects, engages, and inspires.</p>
  <p class="lead">From branding and social media to video production and photography, discover the projects that define our work and vision.</p>
  <hr>
</div>


<div class="row g-3 justify-content-center">
  <div class="col-10 col-sm-6 col-md-5 col-lg-4 d-grid">
    <a class="btn btn-primary btn-lg" href="https://docs.google.com/document/d/1l5XN5TqbzDIIbZCWMwQJL48IS_CYcMsvBme8XK9ZPNo/edit?usp=sharing" target="_blank" rel="noopener">Resume</a>
  </div>
  <div class="col-10 col-sm-6 col-md-5 col-lg-4 d-grid">
    <a class="btn btn-outline-secondary btn-lg" href="https://photos.app.goo.gl/MnYMLQn2SR9Jf48Q9" target="_blank" rel="noopener">Photos</a>
  </div>
  <div class="w-100"></div>
  <div class="col-12">
    <div class="d-flex justify-content-center gap-4 py-3">
      <img class="social-icon" src="{{url_for('static',filename='images/linkedin.svg')}}" alt="LinkedIn" onclick="window.open('http://www.linkedin.com/in/delroy-robinson-017785229','_blank')">
      <img class="social-icon" src="{{url_for('static',filename='images/github.svg')}}" alt="GitHub" onclick="window.open('https://github.com/Hominsec','_blank')">
      <img class="social-icon" src="{{url_for('static',filename='images/instagram.svg')}}" alt="Instagram" onclick="window.open('https://instagram.com/delroy_s_robinson?igshid=OGQ5ZDc2ODk2ZA==','_blank')">
    </div>
  </div>
</div>
{% endblock %}
